# Backend environment example
PORT=8050
MONGO_URI="your_mongo_connection_string_here"
SECRET="a_secure_jwt_secret"

# Mailtrap credentials (optional) - used for demo emails
MAILTRAP_HOST=smtp.mailtrap.io
MAILTRAP_HOST_PORT=2525
MAILTRAP_USER=your_mailtrap_user
MAILTRAP_PASS=your_mailtrap_pass
MAILTRAP_HOST_SENDER="noreply@example.com"
